<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <meta name="description" content="Información de último momento en Venado Tuerto y alrededores." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
  </head>
  <body style="background-color: #202429;">
    <div id="app"></div>
  </body>
</html>
